/* 
1. an asterisk is used to represent universal property values for css
2. a dot is used to represent class values 
3. a hash is used to represent id values  
*/

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

*{
    box-sizing: border-box;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

* body{
    background-image: url('../Images/photo-1453728013993-6d66e9c9123a.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-bar{
    background-color: #FF5677;
}

.nav_bar{
    background-color: #545454;
    display: flex;
    justify-content: space-around;
    position: fixed;
    /* margin: auto; */
    width: 100%;
    height: 30px;
    top: 0%;
    /* z-index: 100; */
}

.name{
    border: solid 10px #9145B6;
    width: 50%;
    /* margin-top: 150px; */
    margin: auto;
    text-align: center;
}

#video{
    /* border-style: solid; */
    /* border-color: blue; */
    margin: auto;
    text-align: center;
}

.wid{
    background-color: #F15412;
    text-align: right;
    font-family: 'JetBrains Mono', monospace;
    letter-spacing: 10px;
    height: 340px;
    width: 300px;
    margin-top: 10px;
}

.widd{
    background-color: #2E0249;
    text-align: right;
    font-family: 'JetBrains Mono', monospace;
    letter-spacing: 10px;
    text-decoration: underline green;
    height: 340px;
    width: 300px;
    margin-top: 10px;
    /* padding: 20px; */
}

.enterText{
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    /* outline-style: hidden;
    outline-color: bisque; */
    border: #545454;
    color: black;
    outline: 2px solid green;
}

/* psuedo-classes */
.pageLinkers:hover{
    background-color: #F15412;
}

.pageLinkers{
    margin-inline: 30px;
}

.divider{
    height: 300px;
    width: 300px;
    background-color: #F15412;
    margin-top: 10px;
}

.divide{
    position: relative;
    height: 400px;
    width: 440px;
    background-color: #2E0249;
    margin-top: 100px;
    margin-left: 400px;
    overflow: scroll;
}

h3{
    position: absolute;
    margin-top: 20px;
}

.divideMe{
    position: relative;
    height: 340px;
    width: 340px;
    background-color: #FF0075;
    margin-top: 10px;
    margin-left: 900px;
}
