/* an asterisk is used to represent universal property values for css
a dot is used to represent class values 
a hash is used to represent id values  */

*{
    background-color: aquamarine;
    color: brown;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.form{
    background-color: red;
    width: 300px;
    margin: auto;
}

.table{
    background-color: pink;
    width: 300px;
}

.linkers{
    background-color: #5584AC;
    width: 300px;
}

body{
    background-image: url('../Images/photo-1453728013993-6d66e9c9123a.jpeg');
    background-repeat: no-repeat;
}

.wid{
    background-color: red;
    padding: 12px;
    height: 300px;
    width: 300px;
    margin-top: 10px;
}

.w{
    background-color: rgb(0, 255, 136);
    height: 300px;
    width: 300px;
    margin-top: 10px;
}

.enter{
    margin-top: 10px;
    outline: 2px solid blue;
}

#password{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blue;
}